@import "tailwindcss";

@theme {
  --color-main-gray: #232323;
  --color-highlight-color: #ffeda3;
  --color-title-gray: #c7c7c7;
  --color-aboutMe-text: #fcfcfc;
  /* --main-bg-color: #232323;
  --main-highlight-color: #ffeda3; --sub-text-gray: #c7c7c7;
  --sub-text-deep: #2f2e18;
  --gray-text: #fcfcfc;
  --gray-sub-text: #c4c4c4; */
}

@keyframes scrollGuideMove {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
